.list-container1{
    height: 150px;
    width: 110px;
    background-color: aliceblue;
    text-align: center;
    margin: 0px;
    margin-bottom: 0px;

}

.upper-border{
    height: 30px;
    width: 150px;
    background-color: #000088;
    text-align: center;
    margin: 0px;
}
.upper-border1{
    margin-top: 0px;
    text-align: center;
    height: 30px;
    width: 150px;
    background-color: #000088;
}

.hole-container{
    margin: 10px;
}

.logo-section7{
    display: flex;
    justify-content: center;
}

.outer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}